<%- include ('partials/_header') %> 
<style>
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
  margin: 35px 900px 50px 40px;
}
</style>
<script>
// Filter table

$(document).ready(function(){
  $("#tableSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<div class="input-group md-form form-sm form-2 pl-0">
    <h4> &nbsp;&nbsp; Buscador: </h4>
    <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search"  id="tableSearch">
</div>
<div class="container"></div>
    <!-- Lista -->
    <br/>
    <div class="col-nd-7">  
            <table class="table table-bordered table-hover" style="background-color: white;">
                <thead>
                    <tr>                        
                        <th>Fecha</th>
                        <th>CCAA</th>
                        <th>Casos</th>
                        <th>fallecidos</th>
                        <th>recuperados</th>
                        <th>planta</th>
                        <th>uci</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <% for(var i = 0; i < result.length; i++) { %>
                    <tr>                       
                        <td> <%= result[i].date%></td>
                        <td> <%= result[i].ccaa%></td>
                        <td> <%= result[i].incidencias[0].casos%></td>
                        <td> <%= result[i].incidencias[0].fallecidos%></td>
                        <td> <%= result[i].incidencias[0].recuperados%></td>
                        <td> <%= result[i].hospitalizados.planta%></td>
                        <td> <%= result[i].hospitalizados.uci%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
    </div>
</div>


<%- include ('partials/_footer') %>