<%- include ('partials/_header') %> 
<div class="container">
    <!-- Formulario para añadir tiendas-->
    <div class="row">
            <div class="card">
                <div class="card-body">
                     <form action="/update/<%= result._id%>" method="GET">
                         <div class="form-group">
                             <input type='text' name="nombre" placeholder="Inserta un Nombre" 
                             class="form-control"  value="<%= result.detalle.nombre %>">
                         </div>
                         <div class="form-group">
                            <input type='text' name="ccaa" placeholder="Inserte codigo ISO" 
                            class="form-control" value="<%= result.ccaa %>">
                        </div>
                         <div class="form-group">
                            <input type='number' step="any" name="w" placeholder="Inserta primera coordenada (W)" 
                            class="form-control" value="<%= result.detalle.location.coordinates[0] %>">
                        </div>
                        <div class="form-group">
                            <input type='number' step="any" name="n"  placeholder="Inserta segunda coordenada (N)" 
                            class="form-control" value="<%= result.detalle.location.coordinates[1]%>">
                        </div> 
                         <button type="submit" class="btn btn-primary btn-block">Update</button>
                     </form>
                </div>
            </div>
        </div>
</div>


<%- include ('partials/_footer') %>